/* Set the root font to 10 */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Create variables */
:root {
  font-size: 10px;
  font-family: "Source Sans Pro";
  --text_color: #333;
  --title_bg_color: #ffffff;
  --first_bg_color: #ffffff;
  --bg_color: #ffffff;
  --nav_bar_color: #f0f0f0;
  --text_size: 1.6rem;
  --title_text_size: 3.2rem;
  --header_text_size: 2.4rem;
  --border_color: #f0f0f0;
  --left_sub_section_bg_color: #ffffff;
  --right_sub_section_bg_color: #ffffff;
  --margin_left: 10rem;
}

/* Global settings */
body {
  font-size: var(--text_size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* cite */
#cite_color a {
  color: #158cba;
  text-decoration: none;
}

/* -------------------- Nav bar --------------------- */
.topnav {
  overflow: hidden;
  background-color: var(--nav_bar_color);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.topnav a {
  float: left;
  color: #158cba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--nav_bar_color);
  color: #158cba;
}

.topnav a.active {
  background-color: var(--nav_bar_color);
  color: #158cba;
}

/* --------------------- Sections --------------------- */
/* Formatting title section */
.title_section {
  background-color: var(--title_bg_color);
  color: var(--text_color);
  font-size: var(--title_text_size);
  border-bottom: 2px solid var(--border_color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.title_section p {
  padding: 10rem;
  box-sizing: border-box;
  padding-top: 0rem;
  font-size: 2rem;
}

/* Formatting the first section */
.first_section {
  background-color: var(--first_bg_color);
  color: var(--text_color);
  font-size: var(--title_text_size);
  border-bottom: 2px solid var(--border_color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* padding: 10rem; */
  box-sizing: border-box;
}

.first_section_top {
  background-color: var(--left_sub_section_bg_color);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  box-sizing: border-box;
}

.first_section_bottom {
  background-color: var(--left_sub_section_bg_color);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 5rem; */
  box-sizing: border-box;
  font-size: x-large;
}

.last_section {
  background-color: var(--first_bg_color);
  color: var(--text_color);
  font-size: var(--title_text_size);
  border-bottom: 2px solid var(--border_color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  box-sizing: border-box;
}

.last_section_top {
  background-color: var(--left_sub_section_bg_color);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  box-sizing: border-box;
}

.last_section_bottom {
  background-color: var(--left_sub_section_bg_color);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  box-sizing: border-box;
  font-size: x-large;
}

/* Formatting the horizontal sections */
.section {
  background-color: var(--bg_color);
  color: var(--text_color);
  font-size: var(--text_size);
  border-bottom: 2px solid var(--border_color);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Formatting left sub section */
.sub_section_left {
  background-color: var(--left_sub_section_bg_color);
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  box-sizing: border-box;
}

/* Formatting right sub section */
.sub_section_right {
  background-color: var(--right_sub_section_bg_color);
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  box-sizing: border-box;
}

/* Formatting the map section */
.vertical_map_section {
  background-color: var(--bg_color);
  color: var(--text_color);
  font-size: var(--text_size);
  border-bottom: 2px solid var(--border_color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Formatting the upper section */
.sub_section_map_top {
  background-color: var(--left_sub_section_bg_color);
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
}

/* Formatting the lower section */
.sub_section_map_bottom {
  background-color: var(--right_sub_section_bg_color);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
}

/* Formatting the vertical sections */
.vertical_section {
  background-color: var(--bg_color);
  color: var(--text_color);
  font-size: var(--text_size);
  border-bottom: 2px solid var(--border_color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Formatting the upper section */
.sub_section_top {
  background-color: var(--left_sub_section_bg_color);
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-bottom: -100;
}

/* Formatting the lower section */
.sub_section_bottom {
  background-color: var(--right_sub_section_bg_color);
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
}

#heatmap_description {
  height: 30%
}

/* --------------------- Figures --------------------- */
#scatterplot, #barchart, #linechart {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}

.text {
  align-items: center;;
}

.styled-gif {
  width: 800px;
  height: auto;
  border-radius: 10px;
}

.styled-gif-2 {
  width: 700px;
  height: auto;
  border-radius: 10px;
}

/* -------------- Maps ------------------ */
.map_1 iframe,
.map_2 iframe,
.map_3 iframe {
  border: 5px;
  border-radius: 10px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.map_1,
.map_2,
.map_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map_1980_text,
.map_2018_text,
.map_2024_text {
  font-size: 1.6rem;
  color: var(--text_color);
}

/* -------------- Highcharts ------------------ */
#scatterplot-figure,
#barplot-figure,
#linechart-figure {
  height: 500px;
}

#vegetation_heatmap_figure,
#summer_heatmap_figure {
  width: 500px;
  height: 500px;
}
.highcharts-credits {
  display: none;
}

.highcharts-button-symbol {
  display: none;
  background-color: transparent;
}

.highcharts-button-box {
  display: none;
}

/* Scatterplot with regression */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 85%;
  max-width: 100%;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

/* Bar Graph */

#barchart {
  height: 600px;
  width: 800px;
  margin: 0 auto;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

/* #container {
    height: 400px;
} */

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* Line Graph */
#linechart {
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* Radar Chart */
#radar_chart {
  height: 600px;
  width: 800px;
  margin: 0 auto;
}
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* Vegetation Heatmap */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-description {
    margin: 10px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* Summer Heatmap */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-description {
    margin: 10px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/* --------------------- Flourish --------------------- */
.flourish-credit {
  display: none;
}

.flourish-embed {
  width: 100%;
  height: 100%;
}

.flourish-embed iframe {
  width: 100%;
  height: 100%;
  border: none;
}